@tailwind base;
@tailwind components;
@tailwind utilities;


.grayImg {
  filter: gray;
  -webkit-filter: grayscale(1); 
  filter: grayscale(1);
}

.customHalfGradient {
  
  background: linear-gradient(
    to right, 
    #ffffff 0%, 
    #cce1fe 65%, 
    #fff 65%, 
    #fff 100%
  );
  height: 100%;
  width: 100%;
}


.nav-element:hover {
  transition: all 0.3s ease;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  --tw-text-opacity: 1;
    color: rgb(199 26 12 / var(--tw-text-opacity));
    border-bottom-width: 2px;
    border-color: rgb(199 26 12 / var(--tw-border-opacity));
}

.swiper-pagination {
	position: absolute;
	top: 10px;
	right: 10px;
	width: auto !important;
	left: auto !important;
	margin: 0;
}
.swiper-pagination-bullet {
	padding: 5px 10px;
	border-radius: 0;
	width: auto;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: #007aff;
}

.form-clip {
  clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)
}

.customCardShadow {
  -webkit-box-shadow: -1px 4px 50px -6px rgba(207,217,230,0.68);
-moz-box-shadow: -1px 4px 50px -6px rgba(207,217,230,0.68);
box-shadow: -1px 4px 50px -6px rgba(207,217,230,0.68);
}
.heigtCustom {
  height: calc((100% - 30px) / 2) !important;
}